/* Common */
/* CSsS dùng chung  */
:root{
    --main-color: #0088cc;
    --gray-color:#777;
    --border-gray-color: #e7e7e7
   }
   * {
       outline: none;
       box-sizing: border-box;
       margin: 0;
       padding: 0;
   }
   html { font-size: 62.5%; } /* =10px */
   body {
       font-size: 1.4rem; /* =14px */
       font-family: 'Lato', sans-serif;
       color: #222;
       line-height: 1.4;
   }
   a {
       text-decoration: none;
       transition: all 0.3s;
       color: #333;
   }
   ol, ul {
       margin: 0;
       padding: 0;
       list-style: none;
   }
   .h1, .h2, .h3, .h4, .h5, .h6{
       margin-bottom: 1.8rem;
       color: #222529;
       font-weight: 700;
   }
   input[type='text'],
   input[type='tel'],
   input[type='number'],
   input[type='email'],
   input[type='password'],
   select,
   textarea {
       padding: 10px;
       background-color: #fff;
       border: 1px solid #ddd;
       border-radius: 3px;
       appearance: none;
   }
   .select-options {
       display: inline-flex;
       position: relative;
   }
   .select-options::after {
       border-bottom: 2px solid #333;
       border-right: 2px solid #333;
       content: '';
       height: 5px;
       position: absolute;
       transform: rotate(45deg);
       top: 1.5rem;
       right: 1.5rem;
       width: 5px;
       z-index: 2;
   }
   button, .btn {
       padding: 10px;
       background-color:#0088cc;
       color: #fff;
       font-weight: 600;
       border: none;
       border-radius: 3px;
       appearance: none;
       cursor: pointer;
       display: inline-flex;
       justify-content: center;
       align-items: center;
   
   }
   .clearfix:after {
       visibility: hidden;
       display: block;
       font-size: 0;
       content: " ";
       clear: both;
       height: 0;
   }
   
   * html .clearfix             { zoom: 1; } /* IE6 */
   *:first-child+html .clearfix { zoom: 1; } /* IE7 */
   
   
   .collapse:not(.show) {
       display: none;
   }
   
   .container {
       max-width: 1200px;
       width: 1200px;
       margin: 0 auto;
       
   }
   .container:after {
       content: "";
       display: table;
       clear: both;
   }
   
   .d-flex{
       display: flex;
   }
   .d-inline-flex{
       display: inline-flex;
   }
   .lg-flex-full{
       flex: 1;
   }
   .overlay {
       display: none;
       overflow: hidden;
       z-index: 7;
       background: rgba(0, 0, 0, .75);
       width: 100%;
       margin: auto;
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0
   }
   /* Header */
   header {
       background-color: #0088cc;
       color: #fff;
       position: relative;
   }
   
   .header-top,
   .header-top-right {
       display: flex;
   }
   .header-top {
       padding: 7px 0;
       border-bottom: 1px solid #0e95d8;
       color: #fff;
       justify-content: space-between;
   }
   .header-top-left {
       font-size: 1.4rem;
   }
   .header-menu {
       align-items: center;
   }
   .header-menu a{
       padding: 0 10px;
       color: #fff;
       font-size: 1.3rem;
   }
   header .social-icons {
       border-left: 1px solid #0e95d8;
       padding-left: 1rem;
   }
   
   header .social-icon {
       border-radius: 50%;
       font-size: 13px;
       width: 2.6rem;
       height: 2.6rem;
       line-height: 2.6rem;
   }
   
   header .social-icon:not(:hover):not(:active):not(:focus) {
       background-color: transparent;
   }
   .header-middle {
       padding: 20px 0;
   }
   .header-middle .header-middle-flex {
       justify-content: space-between;
       column-gap: 1.5rem;
   }
   .search-bar {
       min-width: 500px;
   }
   .search-form {
       background-color: #fff;
       border-radius: 50px;
       padding: 10px;
       display: flex;
       justify-content: space-between;
   }
   .search-form input,
   .search-form button {
       border: none;
       padding: 5px 10px;
   }
   .search-form input{
       flex: 1;
   }
   .search-form button {
       width: 30px;
       margin-right: 10px;
       background-color: transparent;
   }
   .search-form button i {
       font-size: 1.8rem;
       color: #777;
   }
   .header-contact {
       align-items: center;
   }
   .header-contact div {
       margin-right: 10px;
       font-size: 2.7rem;
   }
   .header-contact h6 {
       margin-top: 2px;
       color: #fff;
       font-size: 1.1rem;
       line-height: 1.3;
   }
   .header-contact a {
       display: block;
       font-size: 1.8rem;
       font-weight: 700;
       white-space: nowrap;
       color: #fff;
   }
   .header-icon {
       align-items: center;
       justify-content: flex-end;
   }
   .header-icon a{
       padding:  0 10px;
       display: block;
   }
   .header-icon div {
       font-size: 2.7rem;
       color: #fff;
   }
   .navbar-brand {
    font-weight: 700;
    font-family: "roboto", sans-serif;
    letter-spacing: 3px;
    font-size: 26px;
    color: white;
  }
  .img-df img{
    width: 100%;
    height: 200px;
  }
   #cart {
       position: relative;
   }
   
   #cart em {
       position: absolute;
       top: -5px;
       right: 0;
       width: 1.6rem;
       border-radius: 50%;
       color: #fff;
       background: #ff5b5b;
       font-weight: 600;
       font-size: 1.1rem;
       line-height: 1.6rem;
       font-family: "Open Sans",sans-serif;
       text-align: center;
       font-style: normal;
   }
   .header-bottom {
       border-bottom: 1px solid #e7e7e7;
       background: #fff;
   }
   
   .main-nav ul>li{
       color: #222;
       text-transform: uppercase;
       padding: 0 15px;
       font-weight: 600;
       font-size: 1.4rem;
       position: relative;
       line-height: 50px;
   }
   .main-nav ul>li.has-child {
       margin-right: 10px;
   }
   .main-nav ul>li.has-child::before{
           border-bottom: 2px solid #333;
           border-right: 2px solid #333;
           content: '';
           height: 5px;
           z-index: 2;
           position: absolute;
           transform: rotate(45deg);
           top: 20px;
           right: -3px;
           width: 5px;
           -webkit-transition: all 0.3s ease;
           -moz-transition: all 0.3s ease;
           -o-transition: all 0.3s ease;
           transition: all 0.3s ease;
   }
   
   .main-nav ul>li:first-child {
       padding-left: 0;
   }
   .main-nav ul>li a{
       color: inherit;
   }
   
   .nav-child {
       position: absolute;
       top: 50px;
       display: none;
       left: 0;
       z-index: 9999;
       background-color: #fff;
       box-shadow: 0 1rem 2.5rem rgb(0 0 0 / 15%);
       padding: 10px;
       line-height: 2.4;
       min-width: 200px;
   }
   .nav-child a{
       display: block;
   }
   .main-nav ul>li.current{
       color: #0088cc
   }
   
   .main-nav ul>li.has-child.active>a{
       color: #0088cc
   }
   
   .main-nav ul>li.has-child.active::before{
       transform: rotate(225deg);
       top: 23px;
   }
   .main-nav ul>li.has-child.active .nav-child{display: block;}
   
   .body-content {
       min-height: 600px;
   }
   
   footer {
       padding: 30px 0;
       background-color: #222529;
       color: #a8a8a8;
   }
   
   .footer-row {
       justify-content: space-between;
       margin: 30px 0;
   }
   .footer-row .footer-col{
       width: 25%;
       padding-right: 30px;
   }
   .footer-row .footer-col:last-child{
       padding-right: 0;
   }
   
   .footer-bottom {
       border-top: 1px solid #313438;
       padding-bottom: 2.7rem;
       padding-top: 2.7rem;
   }
   
   footer .widget-title {
           color: #fff;
           font-size: 1.5rem;
           font-weight: 600;
           font-family: Poppins,sans-serif;
           text-transform: uppercase;
           margin: 0 0 1.3rem;
   }
   
   footer .logo-footer {
       margin-top: 1.6rem;
       margin-bottom: 1.7rem;
       max-width: 101px;
   }
   
   
   footer .contact-info li {
       position: relative;
       margin-bottom: 1rem;
       line-height: 1.4;
       margin-top: 1.1rem;
   }
   footer .contact-info-label {
       display: block;
       color: #fff;
       font-weight: 400;
       text-transform: uppercase;
       margin-bottom: 0;
   }
   footer a {
       color: inherit;
   }
   
   footer .links li {line-height: 2}
   
   footer .tagcloud a {
       padding: 0.64em 0.6em 0.56em;
       margin: 0 0.4rem 0.8rem 0;
       border: 1px solid #313438;
       color: inherit;
       font-size: 11px;
       background: transparent;
       border-radius: 0;
       font-weight: 400;
       text-transform: capitalize;
       display: inline-block;
   }
   
   footer .social-icons {border-left: none;margin-top: 2rem;}
   footer .social-icon {
       border-radius: 50%;
       width: 4rem;
       height: 4rem;
       font-size: 1.6rem;
       margin-left: 2px;
       line-height: 4rem;
       border: 1px solid #313438;
       color: #fff;
       display: inline-flex;
       align-items: center;
       justify-content: center;
   }
   
   .social-icon.social-facebook {
       background-color: #3b5a9a;
   }
   .social-icon.social-twitter {
       background-color: #1aa9e1;
   }
   .social-icon.social-linkedin {
       background-color: #0073b2;
   }
   footer .social-icon:not(:hover):not(:active):not(:focus) {
       background: transparent;
   }
   footer .copyright {
       color: #777;
   }
   
   
   /* Mobile Only */
   .mtoggle {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       cursor: pointer;
   }
   .mtoggle i {
       height: 3px;
       width: 3rem;
       background-color: #fff;
       margin: 2px 0;
       display: block;
   }

   
/* responsive Global
    xs < 576
    sm < 768
    md < 992
    lg < 1200
    xl < 1400
    xxl >= 1400
*/
/* mobile first */

/* CSS dùng riêng */
.section {
    margin: 4rem 0;
}
.section-one {
    display: flex;
    justify-content: space-between;
}

.section-one .categories {
    width: 25%;
    border: 1px solid var(--border-gray-color);
}
.categories .cat-title{
    padding: 1.5rem 2rem;
    margin-bottom: 0;
    background: #f6f7f9;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
}
.side-menu {
    padding: 0 2rem;
    
}
.side-menu li>a {
    border-bottom: 1px solid var(--border-gray-color);
    color: #555;
    font-weight: bold;
    display: flex;
    padding: 0 0 1px 2px;
    align-items: center;
    height: 47px;
    letter-spacing: 0.01em;
    transition: 0.35s;
}
.side-menu li:hover>a {
    color: var(--main-color);
}


.side-menu i {
    font-size: 1.6rem;
    margin-right: 1rem;
}
.categories .btn-sale {
    margin: 1rem 2rem;
    display: flex;
    padding: 15px 10px;
    font-size: 1.6rem;
}
.section-one {
    margin-top: 2rem;
}

.section-one .banner-main {
    width: calc( 100% - 25% - 20px);
    position: relative;
}
.banner-main .owl-dots {
    position: absolute;
    bottom: 15px;
    z-index: 2;
    text-align: center;
    width: 100%;
}

.banner-main .owl-theme .owl-dots .owl-dot.active span, 
.banner-main .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--main-color);
}

/* section two */
.section-two {
    border: 1px solid var(--border-gray-color);
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
}
.section-two .info-box {
    border-right: 1px solid var(--border-gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
}
.section-two .info-box:last-child {
    border-right: none;
}
.section-two .info-box .icon {
    font-size: 3rem;
    margin-right: 1.5rem;
}

.info-box h4{
    font-weight: bold;
}

.section-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--border-gray-color);
}
.section-title {
    text-transform: uppercase;
    font-weight: 600;
}
.section-more a{
    font-weight: 600;
}

.imgswiper{
    width: 100%;
    height: 430px;
  }

.product-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-left: 20px;
}

.product-list .item {
    width: calc((100% - 6rem) / 4);
    overflow: hidden;
    transition: all 0.3;
    position: relative;
}
.product-list .item .thumb {
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow: hidden;
}

.product-list .item .thumb1 {
    width: 200px;
    height: auto;
    max-height: 300px;
    overflow: hidden;
}

.product-list .item .thumb img{
    transition: all 0.3s;
    width: 100px;
    height: 100px;
}
.product-list .item:hover .thumb img{
    transform: scale(1.1);
}
.product-list .item .cate{
    color: #666;
    margin: 1rem 0;
}
.product-list .item .price{
    margin: 1rem 0;
    font-size: 1.8rem;
}
.product-list .item .price del{
    font-size: 1.4rem;
    color: #777;margin-right: 1rem;
}
.product-list .item .star{
    width: 100%;
    display: block;
    height: 1.6rem;
}
/* .product-list .item .star::after{
    content: "\f005\f005\f005\f005\f005";
    font-family: "FontAwesome";
} */
.product-list .label-fixed{
    position: absolute;
    top: 1rem;
    left:  1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: .5rem;
    z-index: 2;
}
.label-fixed .badge{
    background-color: var(--main-color);
    color: #fff;
    border-radius: 20px;
    padding: 1px 8px;
    font-size: 13px;
}
.label-fixed .badge-discount{
    background-color: #da5555;
}
.news-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
}

.news-list article {
    width: calc((100% - 6rem) / 4);
    overflow: hidden;
}
.news-list article .thumb {
    width: 60%;
    height: auto;
    max-height: 300px;
    overflow: hidden;
}

.news-list article .thumb img{
    transition: all 0.3s;
    width: 100%;
    height: auto;
}
.news-list article:hover .thumb img{
    transform: scale(1.1);
}
.news-list article h3 {
    margin: 1rem 0;
    font-size: 1.6rem;
}

.news-list article p{
    margin-bottom: 1rem;
    color: #777;
}

.news-list article .post-comment{
    color: #777;
    text-transform: uppercase;
    font-size: 1.2rem;
}

/* Categories */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #fff;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
}
.header{
    height: 20vh;
    margin-top: 10vh;
    text-align: center;
}
.hh4 {
    font-size: 25px;
    color:  var(--main-color);
    text-shadow: 1px 1px 5px #eee;
    margin: 10px 0;
}

.hh3 p {
    font-size: 18px;
    color:  var(--main-color);
    font-weight: bold;
}
.header h2{
    color: #fff;
    background:  var(--main-color);
}
.hh4::first-letter{
    font-size: 35px;
}
.flexbox_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 40px;
    
}
.images{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 50px;
    transition: .5s ease;
    box-shadow: 1px 1px 5px #333;
    cursor: pointer;
}
.passiveimage{
    z-index: -2;
    transform: scale(.95);
    filter: grayscale(100%) blur(3px);
    -webkit-filter: grayscale(100%) blur(3px);
    -moz-filter: grayscale(100%) blur(3px);
    -o-filter:grayscale(100%) blur(3px);
    -ms-filter:grayscale(100%) blur(3px);
}
.images:hover{
    /* transition: .5s ease; */
    transform: scale(1.3);
    box-shadow: 3px 3px 15px #333;
}

.name_p p{
    font-weight: bold;
    margin : 10px;
    font-size : 16px;
}
.p-flex{
    display: flex;
    justify-content: space-between;
}
.viewall h5{
    margin-top: 30px;
    font-size:16px;
    font-weight: bold;
    color:  var(--main-color);
}

/* responsive */
@media screen and (min-width: 575px){
    .sm-show{
        display: none !important;
    }
}
@media screen and (min-width: 766px){
   
    
}
@media screen and (min-width: 1023px){
    .lg-hidden{
        display: none !important;
     }
    
}

/* desktop first */
@media screen and (max-width: 1025px) {
    .container {
        max-width: 960px;
        width: 960px;
    }
    .lg-flex-full{
        flex: 1;
    }
    .d-flex {
        width: 100%;
        max-width: 100%;
    }
    .search-bar {
        min-width: 420px;
    }
    
    /* index page */
    #page-index .section-one .banner-main {
        width: calc( 100% - 25% - 20px);
    }
    #page-index .section-ads img{
        width: 100%;
        height: auto;
    }

  }

@media screen and (max-width: 769px) {
    .md-flex-full{
        flex: 1;
    }
    .container {
        max-width: none;
        width:100%;
        padding: 0 1.5rem;
    }
    .lg-hidden{
        display: flex !important
    }
    .md-flex-wrap{
        flex-wrap: wrap !important;
    }
    .md-flex-column{
        flex-direction: column !important;
        row-gap: 1.5rem;
    }
    .md-flex-column>*{
        flex: 1;
        flex-basis: unset !important;
        width: 100% !important;
    }
    .md-hidden {
        display: none !important;
    }
    .search-bar {
        flex: 1;
        min-width: 32%;
    }
    .footer-row {
        row-gap: 2rem;
    }
    .footer-row .footer-col {
        width: calc(100% / 2);
        padding-right: 30px;
    }

    /* index */
    #page-index .section-two .info-box{
        justify-content: start;
        padding: 1rem;
        border-right: unset;
        border-bottom: 1px solid var(--border-gray-color);
    }
    #page-index .section-two .info-box:last-child {
        border-bottom: none;
    }
    #page-index .section-two {
        padding: 0;
    }
    #page-index .section-one {
        flex-direction: column-reverse !important;
        margin: 1.5rem 0;
    }
     /* end index */

    .product-list .item {
        width: calc((100% - 4rem) / 3);
        overflow: hidden;
    }

    #page-index .news-list article {
        width: calc((100% - 4rem) / 3);
        overflow: hidden;
    }

    /* responsive */
    .header-bottom {
        position: relative;
    }
    
    .header-bottom .main-nav {
        position: fixed;
        z-index: 99999;
        background-color: #fff;
        height: 100vh;
        width: 250px;
        overflow-y: scroll;
        top: 0;
        left: 0;
        animation: mymove .2s linear;
        animation-iteration-count: 1;
    }
    
    @keyframes mymove {
        0% {left: -250px}
       100% {left: 0px}
    }

    .main-nav ul {
        flex-direction: column;
    }
    .main-nav ul>li{
        padding: 0;
    }
    .main-nav ul>li.has-child{
        margin-right: 0;
    }
    .nav-child {
        position: relative;
        top: 0;
        box-shadow: none;
        background-color: #fafafa;
    }
    .mclose{
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 2rem;
        position: absolute;
        background-color: #111;
        right: 0;
        z-index: 99999;
        top: 0;
        cursor: pointer;
    }
    .fixbody {
        position: fixed;
        height: 100vh;
        display: block;
        margin: auto;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: 1;
    }
    .logo img{
        height: 30px;
        width: auto;
    }

    /* page categories */
    #page-categories  .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99;
        background-color: #fff;
        height: calc(100vh - 40px);
        overflow-y: scroll;
        margin-right: 0;
        animation: filtermove .1s ease-in;
        animation-iteration-count: 1;
    }
    
    @keyframes filtermove {
        0% {right: -280px}
       100% {right: 0px}
    }
    #page-categories  .sidebarclose{
        display: flex;
        width: 100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 2rem;
        position: fixed;
        background-color: #111;
        bottom: 0;
        right: 0;
        max-width: 280px;
        z-index: 99999;
        cursor: pointer;
    }
   
    #page-categories  .sidebar {
        margin-left: 0;
    }

    /* Blog */
    #page-blog .body-content>.container,
    #page-blog-details .body-content>.container{
        flex-wrap: wrap;
        flex-direction: column;
    }
    #page-blog .body-content .sidebar,
    #page-blog-details .body-content .sidebar {
        flex:1;
        width: 100%;
        margin-left: 0;
    }
    #page-blog-details .body-content .main-content {
        padding: 0 1rem;
        width: 100%;
    }
    #page-blog-details .news-list article{
        width: calc((100% - 2rem) / 2);
    }
}
@media screen and (max-width: 577px) {
    .sm-flex-full{
        flex: 1;
    }
    .sm-hidden {
        display: none !important;
    }
    .xs-hidden{
        display: none;
    }
    .search-bar {
        display: none;
    }
    .header-icon {
        justify-content: right;
    }
    header .social-icons {
        border-left: none;
        padding-left: 0;
    }
    .header-icon i {
        font-size: 2.2rem;
    }

    .product-list .item {
        width: calc((100% - 2rem) / 2);
    }

    #page-index .news-list article {
        width: calc((100% - 2rem) / 2);
    }

    .footer-row .footer-col {
        width: 100%;
        padding-right: 0;
    }
    .sm-show{
        display: flex !important;
    }

    .search-mobile {
        display: block;
        position: absolute;
        z-index: 2;
        bottom: -58px;
        left: 0;
        width: 100%;
        flex: 1;
        padding: 5px;
        background-color: #fafafa;
        border-bottom: 1px solid var(--border-gray-color);
        box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 8%);
    }

    /* page categories */
    #page-categories .box-sort{
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    #page-categories .box-sort>*{
        flex: 1;
    }
    #page-categories .box-sort-right {
        justify-content: flex-start;
    }

    #page-blog .news-list article .thumb{
        width: 150px;
    }
    #page-blog .news-list article .status>span:first-child{
        display: none;
    }
    #page-blog .news-list article h3{
        margin: 0 0 1rem 0;
    }
    #page-blog .news-list {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 376px) {
    #page-blog .news-list article .thumb{
        width: 120px;
    }
    #page-blog .news-list article .details p{
        max-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0;
    }
    #page-blog-details .news-list article{
        width: 100%;
    }
}